- posts.each do |post|
  %div
    // ユーザーが退会していないかチェック
    - if post.user.active_for_authentication?
      - if post.trail_image.attached?
        = image_tag post.get_trail_image(100, 100)
        
      = post.trail_place
      = post.user.email
      = simple_format(post.body)
      %i.fas.fa-tag
      // 一つ一つを:name型にして取り出す
      = post.tags.map(&:name).join(',')
      = render 'public/likes/like_btn', post: post
      // コメント用アイコン
      = link_to post_path(post) do
        %i.far.fa-comment-dots
        = post.comments.count
      // admin用のルーティングと分岐
      = admin_signed_in? ? (link_to '詳細', admin_post_path(post)) : (link_to '詳細', post_path(post))
      - if admin_signed_in?
        = link_to '削除', admin_post_path(post), method: :delete, data: { confirm: "本当に削除しますか？"}
        = link_to '詳細', admin_post_path(post)
      - elsif user_signed_in? && post.user.id == current_user.id
        = link_to '編集', edit_post_path(post)
        = link_to '削除', post_path(post), method: :delete, data: { confirm: "本当に削除しますか？"}
    