%div
  - posts.each do |post|
    // ユーザーが退会していないかチェック
    - if post.user.active_for_authentication?
      - if post.trail_image.attached?
        = image_tag post.get_trail_image(100, 100)
        
      = post.trail_place
      = post.user.email
      = post.body
      - if user_signed_in?
        - if post.liked_by?(current_user)
          = link_to post_likes_path(post), method: :delete, class: "text-danger" do
            %i.fas.fa-heart
            = post.likes.count
        - else
          = link_to post_likes_path(post), method: :post, class: "text-danger" do
            %i.far.fa-heart
            = post.likes.count
      // admin用のルーティングと分岐
      = admin_signed_in? ? (link_to '詳細', admin_post_path(post)) : (link_to '詳細', post_path(post))
      - if admin_signed_in?
        = link_to '削除', admin_post_path(post), method: :delete, data: { confirm: "本当に削除しますか？"}
        = link_to '詳細', admin_post_path(post)
      - elsif post.user.id == current_user.id
        = link_to '編集', edit_post_path(post)
        = link_to '削除', post_path(post), method: :delete, data: { confirm: "本当に削除しますか？"}
    