.card.post-card.mb-5
  .card-header
    .row.justify-content-between.px-3
      .inline-block
        = image_tag post.user.get_account_image(50, 50), class: "mr-2"
        = admin_signed_in? ? (link_to post.user.name, admin_user_path(post.user)) : (link_to post.user.name, user_path(post.user))
      .inline-block.my-auto
        - if post.trail_place.present?
          %span クラブ名：
          = admin_signed_in? ? (link_to post.trail_place, admin_posts_path(trail_place: post.trail_place)) : (link_to post.trail_place, posts_path(trail_place: post.trail_place))
  = image_tag post.trail_image, class: "card-img-top p-3" if post.trail_image.attached?

  .card-body
    // 投稿内容の表示を改行ありにする
    = simple_format(post.body)
    .small.text-muted.text-right
      %i.fas.fa-history
      = "#{time_ago_in_words(post.created_at)}前"
  .card-footer
    .flex
      .row.justify-content-between.px-3
        .col-sm-7.col-md-lg-9
          %div
            - post.tags.each do |tag|
              %i.fas.fa-tag
              = admin_signed_in? ? (link_to tag.name.truncate(10), admin_posts_path(tag_id: tag.id)) : (link_to tag.name.truncate(10), posts_path(tag_id: tag.id))
          %div
            %span{ :id => "like_button_#{ post.id }"}
              = render 'public/likes/like_btn', post: post
            = link_to post_path(post) do
              %i.far.fa-comment-dots
              = post.comments.count
        %div
          - if user_signed_in? && post.user.id == current_user.id
            // 編集ボタン
            = link_to edit_post_path(post), class: "action-button post-edit-button mr-3" do
              %i.fas.fa-pen
              %span.button-text.small 編集
            // 削除ボタン
            = link_to post_path(post), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "action-button post-trash-button" do
              %i.fas.fa-trash-alt
              %span.button-text.small 削除
