.tags_list
  %ul
    %li
      = link_to 'すべての投稿', posts_path
    - if tags_list.present?
      - tags_list.each do |tag_list|
        %li  
          = link_to tag_list.name.truncate(10), posts_path(tag_id: tag_list.id)
          =  "(#{tag_list.posts.count} )"
        = paginate tags_list