= link_to posts_path do
  .tags_list
    %ul
      %li
        すべての投稿
      - if tags_list.present?
        - tags_list.each do |tag_list|
          .tag-container
            = link_to posts_path(tag_id: tag_list.id), remote: true do
              - if tag_list.name.size >= 10
                .tag-content
                  = tag_list.name
                .tag-name-flow
              %li
                = tag_list.name.truncate(10)
                = "(#{tag_list.posts.count} )"
