= link_to posts_path do
  .tags_list
    %ul
      %li
        すべての投稿
      - if tags_list.present?
        - tags_list.each do |tag_list|
          = link_to posts_path(tag_id: tag_list.id) do
            %li
              = tag_list.name.truncate(10)
              = "(#{tag_list.posts.count} )"
            = paginate tags_list