.row
  .mx-auto
    %h1 投稿詳細
  .new-post-button
    = link_to new_post_path do
      %i.fas.fa-plus
.col-lg-9.mx-auto
  = render 'public/posts/post_show', post: @post, comment: @comment
  - if !current_page?(search_path) && user_signed_in?
    .comment-respond
      .comment-form
        = render 'public/comments/comment_form', post: @post, comment: @comment
      #comment_lists
        = render 'public/comments/post_comment', comments: @comments, comment: @comment
      .col-4.mx-auto.more-comments
        = link_to_next_page @comments, 'もっと見る', remote: true, id: "view_more"
  - else
    %p.text-center コメントはログイン後に閲覧可能です