%h2 
  %b 管理者ログイン
.col-md-9.col-lg-7.mx-auto.font-weight-bold
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .divise-form
      .devise-label.col-md-4
        %i.far.fa-envelope
        = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-8"
    .divise-form
      .devise-label.col-md-4
        %i.fas.fa-unlock-alt
        = f.label :password
      = f.password_field :password, autocomplete: "current-password", class: "col-md-8"
    .actions.text-center.mt-5
      = button_tag type: 'submit', class: "circle-push-button" do
        ログイン
        %i.fas.fa-apple-alt
