- comments.each do |comment|
  // 自分のコメントは右、相手は左にする分岐
  - if comment.user == current_user || admin_signed_in?
    .message-balloon.current-user-comment
      .user-image
        = link_to user_path(comment.user) do
          = image_tag comment.user.get_account_image(50, 50)
      .message-text
        %span.text-muted.small
          自分
        %br
          = comment.comment
          .row.justify-content-end
            .small.text-muted
              %i.fas.fa-history
              = "#{time_ago_in_words(comment.created_at)}前"
            = link_to post_comment_path(comment.post, comment), method: :delete, data: { :confirm => "コメントを削除しますか？" }, remote: true, class: "post-delete-button ml-3" do
              %i.fas.fa-trash-alt
  - else
    .message-balloon.other-user-comment
      .user-image
        - if admin_signed_in?
          = link_to admin_user_path(comment.user) do
            = image_tag comment.user.get_account_image(50, 50)
        - else
          = link_to(comment.user) do
            = image_tag comment.user.get_account_image(50, 50)
      .message-text
        %span.text-muted.small
          = comment.user.name
        %br
        = comment.comment
