- comments.each do |comment|
  .onebox
    - if comment.user == current_user || admin_signed_in?
      .message-balloon.current-user-comment
        .user-image
          - if admin_signed_in?
            = link_to admin_user_path(comment.user) do
              = image_tag comment.user.get_account_image(50, 50)
          - else
            = link_to user_path(comment.user) do
              = image_tag comment.user.get_account_image(50, 50)
        .message-text
          %span.text-muted.small
            自分
          %br
            = comment.comment
            .row.justify-content-end
              = link_to post_comment_path(comment.post, comment), method: :delete, data: { :confirm => "コメントを削除しますか？" }, class: "post-delete-button" do
                %i.fas.fa-trash-alt
    - else
      .message-balloon.other-user-comment
        .user-image
          - if admin_signed_in?
            = link_to admin_user_path(comment.user) do
              = image_tag comment.user.get_account_image(50, 50)
          - else
            = link_to(comment.user) do
              = image_tag comment.user.get_account_image(50, 50)
        .message-text
          %span.text-muted.small
            = comment.user.name
          %br
          = comment.comment


  // %tr
  //   %td
  //     = link_to(comment.user) do
  //       = image_tag comment.user.get_account_image(100, 100)
  //       %br/
  //       = comment.user.name
  //   %td.p-2
  //   // それぞれのコメント表示
  //   = comment.comment
  //   - if (comment.user == current_user) || admin_signed_in?
  //     %td
  //     = link_to 'Destroy', post_comment_path(comment.post, comment), method: :delete,
  //                                                                   data: { :confirm => "コメントを削除しますか？" },
  //                                                                   class: "btn btn-danger btn-sm"