%h2 フォロー／フォロワー

// フォロワーとフォロしてる人をタブ表示
%ul#myTab.text-center.nav.nav-tabs{role: "tablist"}
  %li.nav-item.col-6.p-0{role: "presentation"}
    %a#followings-tab.nav-link.link-text{"aria-controls" => "followings", "data-toggle" => "tab", href: "#followings", role: "tab"} 
      = "フォロー(#{user.followings.count}人)"
  
  %li.nav-item.col-6.p-0{role: "presentation"}
    %a#followers-tab.nav-link.link-text{"aria-controls" => "followers", "data-toggle" => "tab", href: "#followers", role: "tab"} 
      = "フォロワー(#{user.followers.count}人)"

// 上で定義したidを使ってそれぞれのタブの中で検索結果を表示
#myTabContent.tab-content
  #followings.tab-pane.fade.show.active{"aria-labelledby" => "post-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      - if user.followings.present?
        = render 'public/users/user_index', users: user.followings
        // = paginate @users
      - else
        %p.text-center まだ誰もフォローしていません

  #followers.tab-pane.fade{"aria-labelledby" => "tag-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      // 配列の中身が空じゃなかったら
      - if user.followers.present?
        = render 'public/users/user_index', users: user.followers
        // = paginate @users
      - else
        %p.text-center まだフォロワーはいません
