// - @records.each do |record|
//   - if record.class == Post
//     = render 'public/posts/post_show', post: record
//     = paginate @records
//   - elsif record.class == User
//     = render 'public/users/user_show', user: record
//     = paginate record
    
// - if @posts.present?
//   = render 'public/posts/posts_index', posts: @posts
//   = paginate @posts
// - if @users.present?
//   = render 'public/users/user_index', users: @users
//   = paginate @users
    
%ul#myTab.text-center.nav.nav-tabs{role: "tablist"}
  %li.nav-item.w-50.bg-light.active{role: "presentation"}
    %a#user-tab.nav-link.active.link-text{"aria-controls" => "user", "data-toggle" => "tab", href: "#user", role: "tab"} ユーザー
  %li.nav-item.w-50.bg-light.active{role: "presentation"}
    %a#post-tab.nav-link.link-text{"aria-controls" => "post", "data-toggle" => "tab", href: "#post", role: "tab"} 投稿
  
#myTabContent.tab-content
  #user.tab-pane.fade.show.active{"aria-labelledby" => "user-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      - if @users.present?
        = render 'public/users/user_index', users: @users
        = paginate @users
      - else
        = "「#{@content}」に該当するワードはありませんでした"

  #post.mb-5.tab-pane.fade{"aria-labelledby" => "post-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      - if @posts.present?
        = render 'public/posts/posts_index', posts: @posts
        = paginate @posts
      - else
        = "「#{@content}」に該当するワードはありませんでした"