%h2 「#{@content}」に対する検索結果

// 検索結果をタブ表示で分岐
%ul#myTab.text-center.nav.nav-tabs{role: "tablist"}
  %li.nav-item.col-4.p-0{role: "presentation"}
    %a#post-tab.nav-link.active.link-text{"aria-controls" => "post", "data-toggle" => "tab", href: "#post", role: "tab"}
      = "投稿（#{@posts.count}件）" 
  %li.nav-item.col-4.p-0{role: "presentation"}
    %a#tag-tab.nav-link.link-text{"aria-controls" => "tag", "data-toggle" => "tab", href: "#tag", role: "tab"} 
      = "タグ（#{@tags.count}件）"
  %li.nav-item.col-4.p-0{role: "presentation"}
    %a#user-tab.nav-link.link-text{"aria-controls" => "user", "data-toggle" => "tab", href: "#user", role: "tab"} 
      = "ユーザー(#{@users.count}件)"

// 上で定義したidを使ってそれぞれのタブの中で検索結果を表示
#myTabContent.tab-content
  #post.tab-pane.fade.show.active{"aria-labelledby" => "post-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      - if @posts.present?
        = render 'public/posts/posts_index', posts: @posts
        = paginate @posts
      - else
        = "「#{@content}」に該当するワードはありませんでした"

  #tag.tab-pane.fade{"aria-labelledby" => "tag-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      // 配列の中身が空じゃなかったら
      - if !@tags.empty?
        = render 'public/posts/posts_index', posts: @tags
        = paginate @tags
      - else
        = "「#{@content}」に該当するワードはありませんでした"

  #user.mb-5.tab-pane.fade{"aria-labelledby" => "user-tab", role: "tabpanel"}
    .ml-1.mt-5.mb-2
      - if @users.present?
        = render 'public/users/user_index', users: @users
        = paginate @users
      - else
        = "「#{@content}」に該当するワードはありませんでした"


