%h1 質問一覧
.col-lg-10.mx-auto.text-center
  %p 外乗をするにあたって不安に思っていることや<br>聞いてみたいことがあれば質問を送ってみてください<br>このサイトに関する要望でもOK
  %p 質問例：<br>どんな格好で行けばいいの？<br>乗ってる馬がなかなか思い通りに動いてくれない！　など
  %p ※全てに回答できるわけではありません
  = link_to new_question_path, class: "basic-button" do
    質問はこちらから

.col-sm-10.col-md-8.col-lg-6.side-scroll-parent
  .side-scroll-child
    = link_to '質問一覧', questions_path
  // カテゴリー別に検索
  - Question.categories.keys.map do |key|
    .side-scroll-child
      = link_to I18n.t("enums.question.category.#{key}"), questions_path(category: key)

%dl.accordion
  - @questions.each do |question|
    - if question.answer.present?
      %dt.accordion-parent
        = question.title
        %p.category-text
          = "カテゴリー：#{question.category_i18n}"
      %dd.accordion-child
        = question.answer