.col-sm-md-11.mx-auto
  %table
    %tbody
      - users.each do |user|
        - if user.is_deleted == false && user.name != "ゲストユーザー"
          %tr.text-align-center
            %td
              = user.id
            %td
              = link_to admin_user_path(user) do
                = image_tag user.get_account_image(50, 50)
            %td
              = link_to user.name, admin_user_path(user)
            %td
              = link_to user.email, admin_user_path(user)
            %td.w-25.user-introduction
              = link_to user.introduction.truncate(30), user_path(user) if user.introduction.present?
            %td
              - if user.active_for_authentication?
                %b.text-success 有効
              - else
                %b.text-muted 退会
            %td
              = link_to edit_admin_user_path(user), class: "user-edit-button user-index-edit" do
                %i.fas.fa-user-cog
                %span.button-text.small 編集
            %td
              = link_to '詳細', admin_user_path(user), class: "basic-button my-4"
  
  // = paginate @users
  