- if user_signed_in?
  - if post.liked_by?(current_user)
    = link_to post_likes_path(post), method: :delete, class: "text-danger" do
      %i.fas.fa-heart
      = post.likes.count
  - else
    = link_to post_likes_path(post), method: :post, class: "text-danger" do
      %i.far.fa-heart
      = post.likes.count
- else
  %i.fas.fa-heart.text-danger
  = post.likes.count