= render "layouts/errors", obj: resource
%h2 Sign up
.col-md-9.col-lg-7.mx-auto
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .divise-form
      .devise-label.col-md-4
        %i.fa.fa-user
        = f.label :ユーザーネーム
      = f.text_field :name, autofocus: true, autocomplete: "name", class: "col-md-8"
    .divise-form
      .devise-label.col-md-4
        %i.far.fa-envelope
        = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-8"
    .divise-form
      .devise-label.col-md-4
        %i.fas.fa-unlock-alt
        = f.label :password
      = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上", class: "col-md-8"
    .divise-form
      .devise-label.col-md-4
        %i.fas.fa-unlock-alt
        = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上", class: "col-md-8"
    .actions.text-center.mt-5
      = button_tag type: 'submit', class: "circle-push-button" do
        新規登録
        %i.fas.fa-horse
= render "public/shared/links"
