= image_tag user.get_account_image(100, 100)
= user.name
= user.introduction

%p follows
= link_to "#{@user.followings.count}人", user_followings_path(user)

%p followers
= link_to "#{@user.followers.count}人", user_followers_path(user)

= link_to '詳細', user_path(user)
- if user == current_user
  = link_to '編集', edit_user_path(user)
  // 通知用ベルマーク
  = render 'public/notifications/bell_mark'
- elsif user_signed_in?
  = render 'public/relationships/follow_btn', user: user