.col-sm-md-11.mx-auto
  %table
    %thead
      %tr
        %th
        %th ユーザー名
        %th.user-introduction 自己紹介
        %th
        %th
    %tbody
      - users.each do |user|
        - if user.is_deleted == false
          %tr.text-align-center
            %td
              = link_to user_path(user) do
                = image_tag user.get_account_image(50, 50)
            %td
              = link_to user.name, user_path(user)
            %td.w-25.user-introduction
              - if user.introduction.present?
                = link_to user.introduction.truncate(30), user_path(user)
              - else
                まだプロフィールが設定されていません
            %td
              - if user == current_user
                = link_to edit_user_path(user), class: "user-edit-button user-index-edit" do
                  %i.fas.fa-user-cog
                  %span.button-text.small 編集
              - elsif user_signed_in?
                %span{ :id => "follow_ajax_#{user.id}" }
                  = render 'public/relationships/follow_btn', user: user
            %td
              = link_to '詳細', user_path(user), class: "basic-button my-4"
