.col-lg-8.mx-auto
  .profile-area
    .profile-content
      .profile-image
        = image_tag user.get_account_image(thumbnail: true)
      .h3.font-weight-bold.text-center
        = user.name
      .text-center
        = simple_format(user.introduction)
        %table.user-profile-table
          %tbody
            %tr.text-align-center.user-profile-page
              %td
                = link_to user_followings_path(user) do
                  .table-link
                    = "フォロー(#{user.followings.count}人)"
                  %div{ :id => "follow-count_#{user.id}", :class => "table-link" }
                    = "フォロワー(#{user.followers.count}人)"
              %td
                = link_to likes_user_path(user) do
                  %i.fas.fa-heart
                  いいね一覧
              %td
                - if user.same?(current_user)
                  = link_to edit_user_path(user), class: "user-edit-button" do
                    %i.fas.fa-user-cog
                    %span.small.button-text 編集
                  = render 'public/notifications/bell_mark'
                - elsif user_signed_in?
                  %span{ :id => "follow_ajax_#{user.id}" }
                    = render 'public/relationships/follow_btn', user: user
                - else
                  = link_to "#", class: "unfollow-button" do
                    %span.small.text-light フォロー不可
      - if current_page?("/users/#{current_user.id}")
        .mt-5.text-center
          = link_to 'みんなの質問一覧', questions_path, class: "basic-button dashed-button"
          .mt-4
            = link_to new_question_path do
              %u 外乗に対する疑問やこのサイトに関する要望がある方はこちら

      %h2.my-4 投稿
      - if @posts.present?
        = render 'public/posts/posts_index', posts: @posts
      - else
        .text-center まだ投稿はありません
