- users.each do |user|
  - if user.is_deleted == false
    = image_tag user.get_account_image(100, 100)
    = user.name
    = user.email
    = user.introduction
    = link_to '詳細', user_path(user)
    - if user == current_user
      = link_to '編集', edit_user_path(user)
    - elsif user_signed_in? && user.name == "ゲストユーザー"
      = render 'public/relationships/follow_btn', user: user