= form_with model: user do |f|
  = render 'layouts/errors', obj: user
  .form_group
    = f.label :アカウント画像
    = f.file_field :account_image, accept: 'image/*'
  .form_group
    = f.label :ユーザー名
    = f.text_field :name, class: "form_control"
  .form_group
    = f.label :プロフィール
    = f.text_area :introduction, class: "form_control"
  .form_group
    = f.submit '更新', class: "btn btn-success"