= (user_signed_in? && current_user == @user) ? (content_tag :h1, 'マイページ') : (content_tag :h1, "#{@user.name}さんの詳細ページ")
= render 'user_show', user: @user
  
= link_to 'いいね一覧', likes_user_path(@user)  

// ⚠いいねしたら投稿一覧に飛ぶ問題発生中
%h2 投稿
= render 'public/posts/posts_index', posts: @user.posts, tags_list: @tags_list