- if user_signed_in? && current_user == @user
  %h1 マイページ
  = @user.name
  = @user.introduction
  // 後でpartial化してrender
  - @user.posts.each do |post|
    = post.body 
  
- else
  %h1 #{@user.name}さんの詳細ページ
  = @user.name
  = @user.introduction
  = @user.posts
