%a.navbar-brand{href: "/"}
  .logo-image

- if user_signed_in?
  .login_name_display.pl-lg-3
    = link_to user_path(current_user) do
      %b
        ようこそ、
        \#{current_user.name}
        さん！
%button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", type: "button"}
  %span.navbar-toggler-icon
#navbarNavDropdown.collapse.navbar-collapse.px-2
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li
        = link_to user_path(current_user), class: 'nav-link header-link' do
          %i.fas.fa-user-circle
          %b マイページ
      %li
        = link_to posts_path, class: 'nav-link header-link' do
          %i.fas.fa-horse-head
          %b 投稿一覧
      %li
        = link_to users_path, class: 'nav-link header-link' do
          %i.fas.fa-hat-cowboy
          %b ユーザー一覧
      %li
        = link_to destroy_user_session_path, method: :delete, class: 'nav-link header-link' do
          %i.fas.fa-sign-in-alt
          %b ログアウト
    - else
      %li
        = link_to about_path, class: 'nav-link header-link' do
          %i.fas.fa-question-circle
          %b About
      %li
        = link_to posts_path, class: 'nav-link header-link' do
          %i.fas.fa-horse-head
          %b 投稿一覧
      %li
        = link_to new_user_registration_path, class: 'nav-link header-link' do
          %i.fas.fa-user-plus
          %b 新規登録
      %li
        = link_to new_user_session_path, class: 'nav-link header-link' do
          %i.fas.fa-sign-in-alt
          %b ログイン
    %ul.navbar-nav
      .h-100
        .d-flex.justify-content-center.h-100
          = form_with url: search_path, method: :get, class: 'search-form' do |f|
            #search-wrap
              = f.text_field :content, id: "search-text", placeholder: "キーワードで検索..."
              = f.submit '', class: "search-submit"
