!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Postrail
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if current_page?(root_path)
      .top_page_content
        // %header
        .top-page-header
          = render 'layouts/header'
        #flash-message
          = render "layouts/notice"  
        .top_page_image  
        .top_page_container  
          = render 'public/homes/top'
    - else
      .content
        %header
          = render 'layouts/header'
        %main
          #flash-message
            = render "layouts/notice"
          .container
            = yield
      %footer
        = render 'layouts/footer'
